@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/woff/IRANSansX-Bold.woff') format('woff'),
	url('../fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
}

@font-face {
	font-family: IRANSansX;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/woff/IRANSansX-Regular.woff') format('woff'),
	url('../fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
}

*{
    font-family: IRANSansX;
    margin: 0px;
    padding: 0px;
    direction: rtl;
}

body{
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f9f9fa;
}
 
main {
    flex: 1;
}
 
footer {
    width: 100%;
    text-align: center;
}


.container{
    min-height: 100%;
    position: relative;
}

ul.menu li{
    display: inline-block;
    list-style: none;
    position: relative;
}

ul.menu li a{
    display: inline-block;
    padding: 15px;
    color: #00796B;
    text-decoration:none;
    transition: all 0.3s;
}

ul.menu li a:hover{
    color: #011311;
}

ul.submenu{
    display: none;
    width: 160px;
    position: absolute;
    top: 42px;
    background: #00796B;
}

ul.menu li i {
    vertical-align: middle;
    margin-right: 5px;
}

ul.menu li:hover ul.submenu {
    display: block;
    background-color: transparent;
    width: 150px;
}

ul.submenu li{
    display: block;
    border-bottom: 1px solid #ffffff;
    border-radius: 4px;
    background: #00BCD4;
}

ul.submenu li a{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

i{
    vertical-align: middle;
    margin-right: 5px;
}
